@font-face {
    font-family: 'Melodrama';
    src: url('./assets/fonts/Melodrama/Melodrama-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Melodrama';
    src: url('./assets/fonts/Melodrama/Melodrama-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Erode';
    src: url('./assets/fonts/Erode/Erode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Erode';
    src: url('./assets/fonts/Erode/Erode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Erode';
    src: url('./assets/fonts/Erode/Erode-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root {
    font-size: 16px;
    --primary-color: #D4B189;
    --background-color: #F8F8F8;
    --overlay-color: rgba(25,25,25,0.2);
    --text-color: #191919;
    --hover-accent: #c19b70;
}

body.dark {
    --primary-color: #372A1A;
    --background-color: #191919;
    --overlay-color: rgba(248,248,248,0.2);
    --text-color: #F8F8F8;
    --hover-accent: #664d2d;
    transition: 500ms;
}

body {
    font-family: 'Erode';
    font-size: 1rem;
    padding: 20px 40px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 500ms;
}

svg {
    width: 40px;
    height: 40px;
}
.mode-icon {
    fill: var(--primary-color);
    transition: 500ms;
}
.add-book-icon {
    fill: var(--background-color);
    transition: 500ms;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main-buttons {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.mode {
    width: 100px;
    height: 51px;
}

.rectangle {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--primary-color);
    position: relative;
    transition: 500ms;
}

.circle {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 20px;
    top: 5px;
    left: 5px;
    background-color: var(--background-color);
    transition: 500ms;
}

.circle > svg {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.newBook {
    height: 51px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(1.1rem, 5vw, 1.72rem);
    border-radius: 25px;
    padding-right: 10px;
    color: var(--background-color);
    font-family: 'Erode';
    border: none;
    background-color: var(--primary-color);
    transition: 500ms;
}

.add-icon-wrapper {
    width: 51px;
    height: 51px;
    background-color: var(--primary-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 3;
    position: relative;
    transition: 500ms;
}

.add-icon-wrapper > svg {
    width: 33px;
    height: 33px;
}


h1 {
    font-family: 'Melodrama';
    font-size: clamp(36px, 10vw, 60px);
    font-weight: normal;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(273px,1fr));
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 500ms;
}

.book-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

.bookTitle {
    font-size: 1.728rem;
}

.bookAuthor {
    font-size: 1.728rem;
    font-style: italic;
}

.bookPages {
    font-size: 1.2rem;
}

.read-status {
    font-size: 1.05rem;
    display: block;
    width: 80px;
    background-color: var(--background-color);
    border-radius: 50px;
    padding: 5px;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    transition: 500ms;
}

.read-status::before {
    content: "";
    display: block;
    width: 100vw;
    height: 3px;
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 500ms;
}

.read-status-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.read-status-icon path {
    transition: all 1s;
}

.card .read-status-icon path {
    transform-origin: center;
}

.card[data-read="true"] .read-status-icon path {
    d: path("M11.387 19.8609C12.5785 21.1826 14.6519 21.1826 15.8434 19.8609L32.4176 1.4757C33.6104 0.152579 35.6867 0.154252 36.8773 1.47929L37.1953 1.83315C38.2213 2.97491 38.2199 4.70693 37.1921 5.84704L15.8434 29.5283C14.6519 30.85 12.5785 30.85 11.387 29.5283L0.807973 17.7934C-0.21984 16.6533 -0.221216 14.9212 0.804783 13.7795L1.12274 13.4256C2.31341 12.1006 4.38961 12.099 5.58238 13.4221L11.387 19.8609Z");
    fill: var(--background-color);
    transform: rotateY(0deg);
    transition: 500ms;
}

.card[data-read="false"] .read-status-icon path {
    d: path("M16.5 5.00893C10.1537 5.00893 5.00893 10.1537 5.00893 16.5C5.00893 22.8463 10.1537 27.9911 16.5 27.9911C22.8463 27.9911 27.9911 22.8463 27.9911 16.5C27.9911 10.1537 22.8463 5.00893 16.5 5.00893ZM0 16.5C0 7.3873 7.3873 0 16.5 0C25.6127 0 33 7.3873 33 16.5C33 25.6127 25.6127 33 16.5 33C7.3873 33 0 25.6127 0 16.5Z");
    fill: var(--background-color);
    transform: rotateY(180deg);
    transition: 500ms;
}

.book-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.book-buttons button {
    font-size: 1.440rem;
    padding: 10px;
    width: 100px;
    text-align: center;
    font-family: 'Erode';
    border-radius: 5px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 500ms;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: min(30px, 3%);
    width: min(500px, 90%);
    gap: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 500ms;
}

label {
    font-size: 1.6rem;
}

input::placeholder {
    font-size: 1.5rem;
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--overlay-color);
    top: 0;
    left: 0;
    z-index: 2;
    place-items: center;
    transition: 500ms;
}

@supports(backdrop-filter: blur(10px)) {
    .overlay {
        backdrop-filter: blur(10px);
    }
}

.overlay.active {
    display: grid;
}

.newBookForm > div {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-items: center;
}

.newBookForm > div > input {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--text-color);
    caret-color: var(--text-color);
    font-family: 'Erode';
    font-size: 1rem;
    transition: 500ms;
}

.newBookForm input::placeholder {
    font-family: 'Erode';
}

div.bookRead {
    display: flex;
    align-self: center;
}

input[type='checkbox'] {
    width: 30px;
    height: 30px;
    accent-color: var(--primary-color);
    transition: 500ms;
}

.addBtn {
    display: block;
    text-align: center;
    align-self: center;
    width: 150px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-family: 'Erode';
    font-weight: bold;
    border: none;
    font-size: 1.4rem;
    color: var(--background-color);
    transition: 500ms;
}

h2 {
    align-self: center;
    font-family: 'Melodrama';
    font-weight: normal;
    font-size: 2.4rem;
}

.divider {
    position: relative;
    left: -300px;
    content: '';
    width: 1000px;
    height: 5px;
    display: block;
    background-color: var(--primary-color);
    transition: 500ms;
}

.newBook.active > .add-icon-wrapper {
    position: fixed;
    right: 168px;
    transform: rotate(225deg);
    transition: 400ms;
}

.mode.dark > .rectangle > .circle {
    left: 55px;
    transition: 500ms;
}

.circle svg {
    transform: rotateY(-180deg);
    transition: 1s;
}

.mode.dark .circle svg {
    transform: rotateY(0deg);
    transition: 1s;
}

.mode.dark .circle svg path {
    d: path("M37 25.5695C34.3757 27.3304 31.1847 28.363 27.7433 28.363C18.7927 28.363 11.5368 21.3788 11.5368 12.7634C11.5368 7.48738 14.2578 2.82313 18.423 0C8.177 0.40617 0 8.52994 0 18.4921C0 28.7137 8.60867 37 19.228 37C27.243 37 34.1127 32.2796 37 25.5695Z");
}

@media only screen and (max-width: 650px) {
    :root {
        font-size: 12px;
    }
    .main-buttons {
        flex-direction: column;
        align-items: flex-end;
    }
    .newBook.active >  .add-icon-wrapper {
        position: fixed;
        right: 20px;
        top: 30px;
    }
}

input[type="checkbox"]:hover, input[type="checkbox"]:focus {
    accent-color: var(--hover-accent);
}
